html {
 background-color: orangered;
}

main {
    display: flex;
    flex-direction: column;
    background-color: orange;
    border: 5px solid;
    border-radius: 15px;
    text-align: center;
    align-items: center;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
    width: 50vw;
}

ul li {
    margin: 10px 0 10px 0;
    background-color: rgba(66, 66, 219, 0.624);
    border-radius: 5px;
}

ul li:hover {
    background-color: white;
}

button {
    display: block;
    width: 150px;
}